In [29]:
import pandas as pd
from langdetect import detect

df = pd.read_csv('Data_Projet/text_sentiment.csv')

df

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...
...,...,...,...,...
39995,1753918954,neutral,showMe_Heaven,@JohnLloydTaylor
39996,1753919001,love,drapeaux,Happy Mothers Day All my love
39997,1753919005,love,JenniRox,Happy Mother's Day to all the mommies out ther...
39998,1753919043,happiness,ipdaman1,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...
39999,1753919049,love,Alpharalpha,@mopedronin bullet train from tokyo the gf ...

In [30]:
df.drop_duplicates()
df = df.dropna()
df

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...
...,...,...,...,...
39995,1753918954,neutral,showMe_Heaven,@JohnLloydTaylor
39996,1753919001,love,drapeaux,Happy Mothers Day All my love
39997,1753919005,love,JenniRox,Happy Mother's Day to all the mommies out ther...
39998,1753919043,happiness,ipdaman1,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...
39999,1753919049,love,Alpharalpha,@mopedronin bullet train from tokyo the gf ...

In [31]:
print(df.columns)

Index(['tweet_id', 'sentiment', 'author', 'content'], dtype='object')

In [32]:
def detect_lang(text):
    try:
        return detect(text)
    except:
        return None

# Supprimer les colonnes que vous ne souhaitez pas conserver
colonnes_a_supprimer = ['tweet_id', 'author']  # Remplacez par les noms de vos colonnes à supprimer
df.drop(columns=colonnes_a_supprimer, inplace=True)

df

        sentiment                                            content
0           empty  @tiffanylue i know  i was listenin to bad habi...
1         sadness  Layin n bed with a headache  ughhhh...waitin o...
2         sadness                Funeral ceremony...gloomy friday...
3      enthusiasm               wants to hang out with friends SOON!
4         neutral  @dannycastillo We want to trade with someone w...
...           ...                                                ...
39995     neutral                                   @JohnLloydTaylor
39996        love                     Happy Mothers Day  All my love
39997        love  Happy Mother's Day to all the mommies out ther...
39998   happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [34]:
# Appliquer la fonction à la colonne contenant le texte
df['langue_detectee'] = df['content'].apply(detect_lang)

# Filtrer le DataFrame
df_filtered = df[(df['langue_detectee'] == 'en') &  # Les lignes en anglais
                 (~df['content'].str.contains('#|@', na=False)) &  # Les lignes sans '#' ou '@'
                 (df['content'].str.len() >= 1000)].copy()  # Les lignes avec plus de 1000 caractères, et créer une copie

# Supprimer la colonne 'langue_detectee' si vous ne voulez pas la conserver
df_filtered.drop(columns=['langue_detectee'], inplace=True)

# Réindexer le DataFrame filtré
df_filtered.reset_index(drop=True, inplace=True)

# Enregistrer le DataFrame filtré dans un nouveau fichier CSV
df_filtered.to_csv("sentiment_new.csv", index=False)